@using FS.Web.Models;
@model List<SPicture>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css {
    <link rel="stylesheet" href="~/Content/StylesAdmin.css" />
}

@section Scripts {
    @Scripts.Render("~/Scripts/AdminScript.js")
}

@Html.ActionLink("<< Cancel <<", "Index")<font style="margin-left:35%; font-size:20px; font-weight:900;">Edit Pictures</font>
@for (int i = Model.Count() - 1; i >= 0; i--)
{
    SPicture spicture = Model[i];
    <article class="NewArticle">
        <font id="">@spicture.Name</font>
        <button data-name="@spicture.Name" onclick="ShowBtnClicked(this)">Show</button>
        @Html.ActionLink("Edit", "EditSPicture", "Admin", new { SPictureId = spicture.Id }, new { @class = "EditNewLink" })
        @Html.ActionLink("Remove", "RemoveSPicture", "Admin", new { spictureId = spicture.Id }, new { @class = "RemoveNewLink" })
        <div id="@spicture.Name"></div>
    </article>
}
